
reg.php


<div class="col-md-4">
        <span><i class="fa fa-envelope-square fa-3x"></i></span>
   </div>
        <div class="col-md-4">
       <span><i class="	fa fa-camera-retro fa-3x"></i></span>
   </div>