
reg.php


<div class="col-md-4">
        <span><i class="fa fa-envelope-square fa-3x"></i></span>
   </div>
        <div class="col-md-4">
       <span><i class="	fa fa-camera-retro fa-3x"></i></span>
   </div>
   
   
   
    if(mysqli_num_rows($result)>0){

            echo "<script>alert('You are logged in')</script>";
        header("Location:../index.html");
    }
    else {
              die('Query FAILED' . mysqli_error($connection));
        }