body{
   background: #b92b27;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1{
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    font-family: 'Playfair Display SC', serif;
    text-shadow: 2px 2px #f5af19;
    color: #c31342;
}
.row{
    text-align: center;
    height: 40px;
    width: 100%;
    }
p{
    text-align: center;
   padding-top: 10px;
  color: darkorange;
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Merienda', cursive;

}

 /* For prize images  Line 6 */
.box
{
    height: 300px;
    background-color: gray;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
}

.card-a{
    background-image: url(https://as1.ftcdn.net/jpg/00/92/48/62/500_F_92486202_Il3DoOWWCCtOHc6IUvBW6KIVkzVmPexX.jpg);
    height: 100%;
    width:230px;
    display: inline-block;
}
.card-b{
     display: inline-block;
    background-image: url(https://as2.ftcdn.net/jpg/00/83/40/77/500_F_83407707_t06M5pdwS1XQ7TaE7PgsZXkbrIpHRucB.jpg);
    height: 100%;
    width: 230px;
}
.card-c{
     display: inline-block;
   background-image: url(https://as2.ftcdn.net/jpg/00/70/20/57/500_F_70205741_0o5jbaU3Oiq6f9iqXIwHEDhf1cfDMh2D.jpg);
    height: 100%;
    width: 230px;
}

/* End of prize image*/



button{
  margin-bottom: 50px;
    padding: 40px;  
}
#login{
    width: 120px !important;
}
#register{
    width: 120px !important;
}

header{
    height: 200px;
    font-size: 500%;
    text-align: center;
    padding-top: 40px;
}

/* profile pic registration  Line 45*/

.pic{
    padding-right: 600px;
}

/* End of profile pic in registration */


img{
    height: 100px;
    width: 100px;
   margin-right: 600px;
    
}

button{
   margin-top: 40px;
    width: 250px;
}

.input-group{
    padding-left: 150px;
}

label{
    position: relative;
    padding-right: 1000px;
  top: 35px;
    left: 10px;
    font-size: 20px;
}
/* contact button Line 235*/
#sub{
    margin-right: 600px;
}
/* End of contact button*/


/* login button Line 150 */
#log{
    margin-right: 1000px;
}
/* End of login button*/



/* Forgot your password Line 142*/
#pass{
    z-index: 1000;
 position: absolute;
    left: 300px;
    top: 50px;
}

/* End of forgot your password*/

/* modal for register Line 29  */

#box
{
      box-shadow: 10px 8px 8px #e74c3c !important;
}
/* End of modal for register*/

/* modal content for login Line 112*/
#box1
{
      box-shadow: 10px 8px 8px #cc2b5e !important;
}

/* ENd of modal content for login*/

/* modal content for contact line 195*/
#box2
{
      box-shadow: 10px 8px 8px #F9D423 !important;
}

/* End modal content for contact*/

